@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#playField {
    width: 100vw;
}

h1 {
    font-size: 42px;
}

#player {
    cursor: pointer;
    position: absolute;
    height: 100px;
    width: 100px;
}

.finish {
    bottom: 0;
    right: 0;
    height: 100px;
    background-color: black;
    width: 100px;
    border-radius: 50%;
    position: absolute;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}

#res {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

container {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:  100vw;
    height: 100vh;
}

#confetti {
    position: absolute;
    width: 40%;
    top: -70vh;
    transition: all 0.7s;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
